.greeting__container {
    text-align: center;
    line-height: 25px;
}


.greeting__form {
    width: 80%;
    margin: 0 auto;
    padding: 0;
    background: transparent;
    border: none;
    font-size: 35px;
    caret-color: #fff;
    outline: none;
    text-align: center;
    color: #fff;
}


.greeting__username {
    font-weight: bold;
}